    {{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper">
            <article class="post">
                <header>
                    <h1>{{ .Title }}</h1>
                    <h2 class="headline">
                    {{ with .Params.Author }} {{.}} &middot; {{ end }} {{ .Date.Format "2006/01/02" }}
                    </h2>
                    {{ with .Params.tags }}
                    {{ if ge (len .) 1 }}
                    <h2 class="headline">
                        {{ range . }}
                            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    </h2>
                    {{ end }}
                    {{ end}}
                </header>
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>
            <footer id="post-meta" class="clearfix">
                <img class="avatar" src="{{ .Site.BaseURL }}images/avatar.png">
                <div>
                    <span class="dark">{{ .Site.Params.name }}</span>
                    <span>{{ .Site.Params.aboutAuthor }}</span>
                </div>
                <section id="sharing">
                    {{ partial "share.html" . }}
                </section>
            </footer>

            {{ template "_internal/disqus.html" . }}

            {{ partial "latest-posts.html" . }}
            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
